.download-button {
	border-radius: 0.3rem;
	border-style: none;
	background: #4d9b76;
	padding: 10px 10px;
	color: white;
	display: flex;
	align-items: center;
	cursor: pointer;
	width: 100%;
	justify-content: center;
	max-height: 40px;

	&:hover {
		background: #3b8360;
	}

	p {
		margin: 0;
	}

	.download-button__title {
		font-size: 1.3em;
		margin-left: 5px;
	}

	svg {
		color: white;
	}
}