@import './Colors.scss';

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	width: 960px;
	grid-gap: 20px;
	margin: 20px 0;

	.grid-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 0;
	
		svg {
			font-size: 4em;
			margin-bottom: 10px;
			color: $primary;
		}
	
		.grid-item-title {
			font-size: 1.3em;
			font-weight: 600;
			margin-bottom: 5px;
		}
	}
}



@media only screen and (max-width: 1023px) {
	.grid-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
}